<footer class="footer">
    <div class="my-container my-container_bg">
        <div class="footer-flex">
            <div class="footer-left">
                <div class="footer-first">
                    <a href="" class="footer-home">
                        <img src="img/logo_white.png" alt="">
                    </a>
                    <ul class="social-list">
                        <li class="social-item">
                            <a href="" class="social-link">
                                <i class="fab fa-facebook-square"></i>
                            </a>
                        </li>
                        <li class="social-item">
                            <a href="" class="social-link">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li class="social-item">
                            <a href="" class="social-link">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </li>
                        <li class="social-item">
                            <a href="" class="social-link">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-second">
                    <ul class="footer-menu">
                        <li class="footer-item">
                            <a href="" class="footer-link">О компании</a>
                        </li>
                        <li class="footer-item">
                            <a href="" class="footer-link">Публикации</a>
                        </li>
                        <li class="footer-item">
                            <a href="" class="footer-link">Услуги</a>
                        </li>
                        <li class="footer-item">
                            <a href="" class="footer-link">Мероприятия</a>
                        </li>
                        <li class="footer-item">
                            <a href="" class="footer-link">Страны</a>
                        </li>
                        <li class="footer-item">
                            <a href="" class="footer-link">карьера</a>
                        </li>
                        <li class="footer-item">
                            <a href="" class="footer-link">Контакты</a>
                        </li>
                        <li class="footer-item">
                            <a href="" class="footer-link">Карта Сайта</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-right">
                <p class="footer-text">@ALPS&CHASE 2005-2018</p>
                <p class="footer-text footer-text_sm">Перепечатка материалов только с письменного разрешения компании АЛПС ЭНД ЧЕЙС</p>
                <a href="" class="footer-right-link footer-text">Политика конфиденциальности</a>
                <a href="" class="footer-right-link footer-text">Заявления об ограничении ответственности</a>
            </div>
        </div>
    </div>
</footer>