<!-- header.html -->
<header class="header">
	<div class="header-row">
		<div class="header-content">
			<div class="header-left">
				<p class="header-left-text">08136, г.Киев, Крюковщина, ул. Жулянская 1А <span class="header-left-line">|</span></p>
				<a href="0442903550" class="header-left-phone">044 290 35 50</a>
			</div>
			<div class="header-right">
				<div class="header-right-lang lang">
					<div class="lang-item">
						<a href="" class="lang-link">Укр.</a>
						<span class="lang-line"></span>
						<a href="" class="lang-link active">Рус.</a>
					</div>
				</div>
				<a href="" class="header-right-btn btn btn_white">Заказать звонок</a>
			</div>
		</div>
	</div>
</header>