<!-- header.html -->
<header class="main_header">
	<div class="main-header-left">
		<div class="main_menu header_block" style="opacity: 1;">
			<a href="#"><i class="main_menu__icon">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</i>
				Меню</a>
		</div>

		<div class="header_contacts header_block" style="opacity: 1;">

			<a href="#" class="header_contacts__current dropdown_link">Москва +7 (499) 921-02-22 <i class="far fa-angle-down"></i></a>

			<div class="header_contacts__dropdown dropdown_menu hidden">
				<a href="#">Москва +7 (499) 921-02-22</a>
				<a href="#">Астана +7 (7172) 727 783</a>
			</div>
		</div>
		<div class="side_menu">
			<nav>
				<a href="">О компании </a>
				<a href="">Услуги</a>
				<a href="">Страны</a>
				<a href="">Публикации</a>
				<a href="">Мероприятия</a>
				<a href="">Контакты</a>
			</nav>
		</div>
	</div>

	<div class="logo"><a href=""><img src="img/logo.png" alt="AlpsChase"></a></div>
	<div class="main-header-right">
		<div class="cabinet header_block_right">
			<a href="#">ВХОД В КАБИНЕТ<i class="far fa-sign-in"></i></a>
		</div>
		<div class="lang header_block_right">
			<a href="#" class="lang__current dropdown_link">RU <i class="far fa-angle-down"></i></a>
			<div class="lang__list dropdown_menu">
				<a href=""><i></i><span>RU</span></a>
				<a href=""><i></i><span>EN</span></a>
				<a href=""><i></i><span>FR</span></a>
				<a href=""><i></i><span>DE</span></a>
				<a href=""><i></i><span>IT</span></a>
				<a href=""><i></i><span>ES</span></a>

			</div>
		</div>
		<div class="header_search header_block_right">
			<a class="header_search__label" href="#"><i class="far fa-search"></i>ПОИСК</a>
			<div class="header_search__input">
				<form action="" method="get">
					<input type="text" name="q" value="">
					<button><i class="far fa-search"></i></button>
				</form>
			</div>
		</div>
	</div>

</header>