<!-- header.html -->
<header class="header active">
	<div class="header-row">
		<div class="header-content">
			<div class="header-left">
				<p class="header-left-text wow fadeInUp" data-wow-delay="0.3s">08136, г.Киев, Крюковщина, ул. Жулянская 1А <span class="header-left-line">|</span></p>
				<a href="0442903550" class="header-left-phone wow fadeInUp" data-wow-delay="0.5s">044 290 35 50</a>
			</div>
			<div class="header-right">
				<div class="header-right-lang lang">
					<div class="lang-item">
						<a href="" class="lang-link wow fadeInUp" data-wow-delay="0.7s">Укр.</a>
						<span class="lang-line wow fadeInUp" data-wow-delay="0.8s"></span>
						<a href="" class="lang-link active wow fadeInUp" data-wow-delay="0.9s">Рус.</a>
					</div>
				</div>
				<a href="" class="header-right-btn btn btn_white wow fadeInUp" data-wow-delay="1.1s">Заказать звонок</a>
			</div>
		</div>
	</div>
</header>