<div class="menu">
    <ul class="menu-list">
        <li class="menu-item">
            <a href="" class="menu-item-link">О компании</a>
        </li>
        <li class="menu-item">
            <a href="" class="menu-item-link">Услуги</a>
            <i class="far fa-angle-down"></i>
            <ul class="menu-droplist">
                <li class="menu-dropitem">
                    <a href="" class="menu-item-link">Юридические услуги</a>
                </li>
                <li class="menu-dropitem">
                    <a href="" class="menu-item-link">Бухгалтерский учет</a>
                </li>
                <li class="menu-dropitem">
                    <a href="" class="menu-item-link">Аудит</a>
                </li>
                <li class="menu-dropitem">
                    <a href="" class="menu-item-link">Сопровождение строительных проектов</a>
                </li>
                <li class="menu-dropitem">
                    <a href="" class="menu-item-link">IT аутсорсинг</a>
                </li>
                <li class="menu-dropitem">
                    <a href="" class="menu-item-link">Импорт, таможня, сертификация</a>
                </li>
            </ul>
        </li>
        <li class="menu-item">
            <a href="" class="menu-item-link">Страны</a>
            <i class="far fa-angle-down"></i>
            <ul class="menu-droplist menu-droplist_custom">
                <li class="menu-dropitem">
                    <a href="" class="menu-item-link">Казахстан</a>
                </li>
                <li class="menu-dropitem">
                    <a href="" class="menu-item-link">Туркнемистан</a>
                </li>
                <li class="menu-dropitem">
                    <a href="" class="menu-item-link">Россия</a>
                </li>
                <li class="menu-dropitem">
                    <a href="" class="menu-item-link">Азербайджан</a>
                </li>
                <li class="menu-dropitem">
                    <a href="" class="menu-item-link">Беларусь</a>
                </li>
                <li class="menu-dropitem">
                    <a href="" class="menu-item-link">Армения</a>
                </li>
                <li class="menu-dropitem">
                    <a href="" class="menu-item-link">Украина</a>
                </li>
                <li class="menu-dropitem">
                    <a href="" class="menu-item-link">Грузия</a>
                </li>
                <li class="menu-dropitem">
                    <a href="" class="menu-item-link">Молдова</a>
                </li>
                <li class="menu-dropitem">
                    <a href="" class="menu-item-link">Литва</a>
                </li>
                <li class="menu-dropitem">
                    <a href="" class="menu-item-link">Узбекестан</a>
                </li>
                <li class="menu-dropitem">
                    <a href="" class="menu-item-link">Латвия</a>
                </li>
                <li class="menu-dropitem">
                    <a href="" class="menu-item-link">Кыргыстан</a>
                </li>
                <li class="menu-dropitem">
                    <a href="" class="menu-item-link">Эстония</a>
                </li>
                <li class="menu-dropitem">
                    <a href="" class="menu-item-link">Таджикистан</a>
                </li>
                <li class="menu-dropitem">
                    <a href="" class="menu-item-link">Монголия</a>
                </li>
            </ul>
        </li>
        <li class="menu-item">
            <a href="" class="menu-item-link">Публикации</a>
        </li>
        <li class="menu-item">
            <a href="" class="menu-item-link">Мероприятия</a>
        </li>
        <li class="menu-item">
            <a href="" class="menu-item-link">Контакты</a>
        </li>
    </ul>
</div>