<div class="mobile_header">
    <div class="logo"><a href=""><img src="img/logo.png" alt="AlpsChase"></a></div>
    <div class="mobile_header__wrapper">
        <div class="cabinet">
            <i class="fa fa-sign-in"></i>
        </div>

        <div class="header_search">
            <a class="header_search__label" href="#"><i class="far fa-search"></i></a>
            <div class="header_search__input">
                <form action="" method="get">
                    <input type="text" name="q" value="">
                    <button><i class="far fa-search"></i></button>
                </form>
            </div>
        </div>

        <div class="lang">
            <a href="#" class="lang__current dropdown_link">RU <i class="far fa-angle-down"></i></a>
            <div class="lang__list dropdown_menu">
                <a href=""><i></i><span>RU</span></a>
                <a href=""><i></i><span>EN</span></a>
                <a href=""><i></i><span>FR</span></a>
                <a href=""><i></i><span>DE</span></a>
                <a href=""><i></i><span>IT</span></a>
                <a href=""><i></i><span>ES</span></a>

            </div>
        </div>

        <div class="main_menu">
            <div class="main_menu__icon">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</div>
<div class="mobile_menu">
    <nav>
        <a href="">О компании</a>
        <a href="">Услуги</a>
        <a href="">Страны</a>
        <a href="">Публикации</a>
        <a href="">Мероприятия</a>
        <a href="">Контакты</a>
        <a href="">ПОЛНАЯ версия сайта</a>
    </nav>
</div>