<div class="main-title">
    <div class="my-container">
        <h2 class="main-title-title">Юридические и бухгалтерские услуги
            в России, странах СНГ и Балтии</h2>
    </div>
    <div class="main-path">
        <div class="my-container">
            <ul class="main-path-list">
                <li class="main-path-item">
                    <a href="" class="main-path-link">Главная</a>
                </li>
                <li class="main-path-item">
                    <a href="" class="main-path-link">О компании</a>
                </li>
            </ul>
        </div>
    </div>
</div>