<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>Alps</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/style.bundle.css">

</head>

<body>

	@import "header.html"
	@import "mobile-header.html"
	@import "menu.html"
	@import "title.html"
	<section class="about section">
		<div class="my-container">
			<div class="about-flex">
				<div class="about-left">
					<div class="eye-block">
						<div class="eye-text">1000</div>
						<img src="img/eye.svg" alt="" class="eye-img">
					</div>
					<h4 class="about-title">о компании</h4>
					<p class="text about-text">АЛПС ЭНД ЧЕЙС является международной консалтинговой компанией, обслуживающей организации, нуждающиеся в юридических, налоговых и бухгалтерский консультациях, связанных с ведением бизнеса в России, странах СНГ и Балтии.</p>
					<p class="text about-text">Наши специалисты обладают детальным знанием законодательства, а также имеют необходимый опыт, навыки и технологии по предоставлению своим клиентам практических решений по юридическим и бухгалтерским вопросам в различных странах.</p>
					<p class="text about-text">Наши клиенты всегда удовлетворены качеством нашей работы и внимательным отношением к их повседневным задачам.</p>
					<a href="img/requisites.pdf" download="" class="about-link">Скачать брошюру</a>
				</div>
				<div class="about-right">
					<div class="about-years">
						<span class="about-years-number">15</span>
						<span class="about-years-text">лет работы</span>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="advantages section section_bg">
		<div class="my-container">
			<h5 class="subtitle advantages-subtitle">Преимущества работы с нами</h5>
			<ul class="advantages-list">
				<li class="advantages-item text">Офисы в Лондоне, Москве и всех столицах стран СНГ и Балтии</li>
				<li class="advantages-item text">Страхование профессиональных рисков</li>
				<li class="advantages-item text">Единый поставщик услуг. Единые стандарты качества</li>
				<li class="advantages-item text">Использование <span class="nowrap">передовых технологий</span></li>
				<li class="advantages-item text">Эффективность бизнес-процессов</li>
				<li class="advantages-item text">Все налоги включены</li>
				<li class="advantages-item text">Безопасность и удобство работы</li>
				<li class="advantages-item text">Экспертиза высокого уровня</li>
			</ul>
		</div>
	</section>
	<section class="people section">
		<div class="my-container">
			<h5 class="subtitle advantages-subtitle">Руководители практик</h5>
			<div class="people-slider">
				<div class="people-slider-item">
					<img src="img/people1.jpg" alt="" class="people-slider-img">
					<p class="people-slider-name">Югай Станислав</p>
					<p class="people-slider-job">Руководитель юридической практики</p>
					<p class="people-slider-loc">Казахстан, Алматы</p>
				</div>
				<div class="people-slider-item">
					<img src="img/people2.jpg" alt="" class="people-slider-img">
					<p class="people-slider-name">Шахнабатова Ирина</p>
					<p class="people-slider-job">Руководитель бухгалтерской практики</p>
					<p class="people-slider-loc">Узбекистан, Ташкент</p>
				</div>
				<div class="people-slider-item">
					<img src="img/people3.jpg" alt="" class="people-slider-img">
					<p class="people-slider-name">Ананян Анна</p>
					<p class="people-slider-job">Управляющий директор</p>
					<p class="people-slider-loc">Россия, Москва</p>
				</div>
				<div class="people-slider-item">
					<img src="img/people4.jpg" alt="" class="people-slider-img">
					<p class="people-slider-name">Маггерамова Тара</p>
					<p class="people-slider-job">Руководитель бухгалтерской практики</p>
					<p class="people-slider-loc">Азербайджан, Баку</p>
				</div>
				<div class="people-slider-item">
					<img src="img/people5.jpg" alt="" class="people-slider-img">
					<p class="people-slider-name">Аманжолова Айжан</p>
					<p class="people-slider-job">Руководитель практики по корпоративным вопросам</p>
					<p class="people-slider-loc">Казахстан, Астана</p>
				</div>
				<div class="people-slider-item">
					<img src="img/people5.jpg" alt="" class="people-slider-img">
					<p class="people-slider-name">Аманжолова Айжан</p>
					<p class="people-slider-job">Руководитель практики по корпоративным вопросам</p>
					<p class="people-slider-loc">Казахстан, Астана</p>
				</div>
			</div>
			<h5 class="subtitle advantages-subtitle">Наши клиенты</h5>
			<div class="people-client">
				<div class="client-slider">
					<div class="client-slider-item">
						<div class="client-flex">
							<img src="img/client1.jpg" alt="">
							<img src="img/client2.jpg" alt="">
						</div>
					</div>
					<div class="client-slider-item">
						<div class="client-flex">
							<img src="img/client3.jpg" alt="">
							<img src="img/client4.jpg" alt="">
						</div>
					</div>
					<div class="client-slider-item">
						<div class="client-flex">
							<img src="img/client5.jpg" alt="">
							<img src="img/client6.jpg" alt="">
						</div>
					</div>
					<div class="client-slider-item">
						<div class="client-flex">
							<img src="img/client7.jpg" alt="">
							<img src="img/client8.jpg" alt="">
						</div>
					</div>
					<div class="client-slider-item">
						<div class="client-flex">
							<img src="img/client9.jpg" alt="">
							<img src="img/client10.jpg" alt="">
						</div>
					</div>
					<div class="client-slider-item">
						<div class="client-flex">
							<img src="img/client11.jpg" alt="">
							<img src="img/client12.jpg" alt="">
						</div>
					</div>
					<div class="client-slider-item">
						<div class="client-flex">
							<img src="img/client13.jpg" alt="">
							<img src="img/client14.jpg" alt="">
						</div>
					</div>
					<div class="client-slider-item">
						<div class="client-flex">
							<img src="img/client15.jpg" alt="">
							<img src="img/client16.jpg" alt="">
						</div>
					</div>
					<div class="client-slider-item">
						<div class="client-flex">
							<img src="img/client17.jpg" alt="">
							<img src="img/client18.jpg" alt="">
						</div>
					</div>
					<div class="client-slider-item">
						<div class="client-flex">
							<img src="img/client19.jpg" alt="">
							<img src="img/client20.jpg" alt="">
						</div>
					</div>
					<div class="client-slider-item">
						<div class="client-flex">
							<img src="img/client21.jpg" alt="">
							<img src="img/client22.jpg" alt="">
						</div>
					</div>
					<div class="client-slider-item">
						<div class="client-flex">
							<img src="img/client23.jpg" alt="">
							<img src="img/client24.jpg" alt="">
						</div>
					</div>
					<div class="client-slider-item">
						<div class="client-flex">
							<img src="img/client25.jpg" alt="">
							<img src="img/client26.jpg" alt="">
						</div>
					</div>
					<div class="client-slider-item">
						<div class="client-flex">
							<img src="img/client27.jpg" alt="">
							<img src="img/client28.jpg" alt="">
						</div>
					</div>
					<div class="client-slider-item">
						<div class="client-flex">
							<img src="img/client29.jpg" alt="">
							<img src="img/client30.jpg" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="office section section_bg">
		<div class="my-container">
			<div class="office-flex">
				<h5 class="subtitle advantages-subtitle">Наши офисы:</h5>
				<a href="" class="office-all">Все наши офисы</a>
			</div>
			<ul class="office-list">
				<li class="office-item">
					<h6 class="office-title">в России</h6>
					<div class="office-row">
						<p class="office-text">119049, город Москва,<br>
							1-й Спасоналивковский пер., 16</p>
					</div>
					<div class="office-row">
						<p class="office-text">Teлефоны:</p>
						<a href="tel:+74999210222" class="office-link office-text">+7 (499) 921 02 22</a><br>
						<a href="tel:+74992380023" class="office-link office-text">+7 (499) 23 800 23</a>
					</div>
				</li>
				<li class="office-item">
					<h6 class="office-title">в Казахстане</h6>
					<div class="office-row">
						<p class="office-text">01000, город Астана,<br>
							ул. Бараева, 16, блок Б, офис 301</p>
					</div>
					<div class="office-row">
						<p class="office-text">Teлефон:</p>
						<a href="tel:+77172727783" class="office-link office-text">+7 (7172) 727 783</a>
					</div>
				</li>
				<li class="office-item">
					<h6 class="office-title">в великобритании</h6>
					<div class="office-row">
						<p class="office-text">Suite 7, 46 Manchester street,<br>
							W1U 7LS London, England</p>
					</div>
				</li>
			</ul>
		</div>
	</section>
	@import "footer.html"
	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
	<script src="js/common.js"></script>

</body>
</html>
