<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>Alps</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/style.bundle.css">

</head>

<body>

	@import "header.html"
	@import "mobile-header.html"
	@import "menu.html"
	@import "title.html"
	<section class="contact section">
		<div class="my-container my-container_bg">
			<div class="contact-flex">
				<div class="contact-left">
					<div class="contact-block">
						<h4 class="about-title">наши офисы. Связаться с нами</h4>
						<div class="contact-list">
							<div class="contact-list-column">
								<div class="contact-item">
									<div class="contact-item-top">
										<img src="img/kz.jpg" alt="" class="contact-item-img">
										<p class="contact-item-text">Казахстан</p>
										<i class="far fa-angle-down contact-item-arrow"></i>
									</div>
									<div class="contact-drop">
										<p class="contact-drop-text">119049, город Москва,<br>
											1-й Спасоналивковский пер., 16</p>
										<p class="contact-drop-text">Teлефоны:</p>
										<a href="tel:+74999210222" class="contact-drop-text">+7 (499) 921 02 22</a><br>
										<a href="tel:+74992380023" class="contact-drop-text">+7 (499) 23 800 23</a>
									</div>
								</div>
								<div class="contact-item">
									<div class="contact-item-top">
										<img src="img/rf.jpg" alt="" class="contact-item-img">
										<p class="contact-item-text">Россия</p>
										<i class="far fa-angle-down contact-item-arrow"></i>
									</div>
									<div class="contact-drop">
										<p class="contact-drop-text">119049, город Москва,<br>
											1-й Спасоналивковский пер., 16</p>
										<p class="contact-drop-text">Teлефоны:</p>
										<a href="tel:+74999210222" class="contact-drop-text">+7 (499) 921 02 22</a><br>
										<a href="tel:+74992380023" class="contact-drop-text">+7 (499) 23 800 23</a>
									</div>
								</div>
								<div class="contact-item">
									<div class="contact-item-top">
										<img src="img/br.jpg" alt="" class="contact-item-img">
										<p class="contact-item-text">Беларусь</p>
										<i class="far fa-angle-down contact-item-arrow"></i>
									</div>
									<div class="contact-drop">
										<p class="contact-drop-text">119049, город Москва,<br>
											1-й Спасоналивковский пер., 16</p>
										<p class="contact-drop-text">Teлефоны:</p>
										<a href="tel:+74999210222" class="contact-drop-text">+7 (499) 921 02 22</a><br>
										<a href="tel:+74992380023" class="contact-drop-text">+7 (499) 23 800 23</a>
									</div>
								</div>
								<div class="contact-item">
									<div class="contact-item-top">
										<img src="img/ua.jpg" alt="" class="contact-item-img">
										<p class="contact-item-text">Украина</p>
										<i class="far fa-angle-down contact-item-arrow"></i>
									</div>
									<div class="contact-drop">
										<p class="contact-drop-text">119049, город Москва,<br>
											1-й Спасоналивковский пер., 16</p>
										<p class="contact-drop-text">Teлефоны:</p>
										<a href="tel:+74999210222" class="contact-drop-text">+7 (499) 921 02 22</a><br>
										<a href="tel:+74992380023" class="contact-drop-text">+7 (499) 23 800 23</a>
									</div>
								</div>
								<div class="contact-item">
									<div class="contact-item-top">
										<img src="img/md.jpg" alt="" class="contact-item-img">
										<p class="contact-item-text">Молдова</p>
										<i class="far fa-angle-down contact-item-arrow"></i>
									</div>
									<div class="contact-drop">
										<p class="contact-drop-text">119049, город Москва,<br>
											1-й Спасоналивковский пер., 16</p>
										<p class="contact-drop-text">Teлефоны:</p>
										<a href="tel:+74999210222" class="contact-drop-text">+7 (499) 921 02 22</a><br>
										<a href="tel:+74992380023" class="contact-drop-text">+7 (499) 23 800 23</a>
									</div>
								</div>
								<div class="contact-item">
									<div class="contact-item-top">
										<img src="img/uz.jpg" alt="" class="contact-item-img">
										<p class="contact-item-text">Узбекистан</p>
										<i class="far fa-angle-down contact-item-arrow"></i>
									</div>
									<div class="contact-drop">
										<p class="contact-drop-text">119049, город Москва,<br>
											1-й Спасоналивковский пер., 16</p>
										<p class="contact-drop-text">Teлефоны:</p>
										<a href="tel:+74999210222" class="contact-drop-text">+7 (499) 921 02 22</a><br>
										<a href="tel:+74992380023" class="contact-drop-text">+7 (499) 23 800 23</a>
									</div>
								</div>
								<div class="contact-item">
									<div class="contact-item-top">
										<img src="img/kg.jpg" alt="" class="contact-item-img">
										<p class="contact-item-text">Кыргызстан</p>
										<i class="far fa-angle-down contact-item-arrow"></i>
									</div>
									<div class="contact-drop">
										<p class="contact-drop-text">119049, город Москва,<br>
											1-й Спасоналивковский пер., 16</p>
										<p class="contact-drop-text">Teлефоны:</p>
										<a href="tel:+74999210222" class="contact-drop-text">+7 (499) 921 02 22</a><br>
										<a href="tel:+74992380023" class="contact-drop-text">+7 (499) 23 800 23</a>
									</div>
								</div>
								<div class="contact-item">
									<div class="contact-item-top">
										<img src="img/tj.jpg" alt="" class="contact-item-img">
										<p class="contact-item-text">Таджикистан</p>
										<i class="far fa-angle-down contact-item-arrow"></i>
									</div>
									<div class="contact-drop">
										<p class="contact-drop-text">119049, город Москва,<br>
											1-й Спасоналивковский пер., 16</p>
										<p class="contact-drop-text">Teлефоны:</p>
										<a href="tel:+74999210222" class="contact-drop-text">+7 (499) 921 02 22</a><br>
										<a href="tel:+74992380023" class="contact-drop-text">+7 (499) 23 800 23</a>
									</div>
								</div>
								<div class="contact-item">
									<div class="contact-item-top">
										<img src="img/gb.jpg" alt="" class="contact-item-img">
										<p class="contact-item-text">Великобритания</p>
										<i class="far fa-angle-down contact-item-arrow"></i>
									</div>
									<div class="contact-drop">
										<p class="contact-drop-text">119049, город Москва,<br>
											1-й Спасоналивковский пер., 16</p>
										<p class="contact-drop-text">Teлефоны:</p>
										<a href="tel:+74999210222" class="contact-drop-text">+7 (499) 921 02 22</a><br>
										<a href="tel:+74992380023" class="contact-drop-text">+7 (499) 23 800 23</a>
									</div>
								</div>
							</div>
							<div class="contact-list-column">
								<div class="contact-item">
									<div class="contact-item-top">
										<img src="img/tm.jpg" alt="" class="contact-item-img">
										<p class="contact-item-text">Туркменистан</p>
										<i class="far fa-angle-down contact-item-arrow"></i>
									</div>
									<div class="contact-drop">
										<p class="contact-drop-text">119049, город Москва,<br>
											1-й Спасоналивковский пер., 16</p>
										<p class="contact-drop-text">Teлефоны:</p>
										<a href="tel:+74999210222" class="contact-drop-text">+7 (499) 921 02 22</a><br>
										<a href="tel:+74992380023" class="contact-drop-text">+7 (499) 23 800 23</a>
									</div>
								</div>
								<div class="contact-item">
									<div class="contact-item-top">
										<img src="img/az.jpg" alt="" class="contact-item-img">
										<p class="contact-item-text">Азербайджан</p>
										<i class="far fa-angle-down contact-item-arrow"></i>
									</div>
									<div class="contact-drop">
										<p class="contact-drop-text">119049, город Москва,<br>
											1-й Спасоналивковский пер., 16</p>
										<p class="contact-drop-text">Teлефоны:</p>
										<a href="tel:+74999210222" class="contact-drop-text">+7 (499) 921 02 22</a><br>
										<a href="tel:+74992380023" class="contact-drop-text">+7 (499) 23 800 23</a>
									</div>
								</div>
								<div class="contact-item">
									<div class="contact-item-top">
										<img src="img/mn.jpg" alt="" class="contact-item-img">
										<p class="contact-item-text">Монголия</p>
										<i class="far fa-angle-down contact-item-arrow"></i>
									</div>
									<div class="contact-drop">
										<p class="contact-drop-text">119049, город Москва,<br>
											1-й Спасоналивковский пер., 16</p>
										<p class="contact-drop-text">Teлефоны:</p>
										<a href="tel:+74999210222" class="contact-drop-text">+7 (499) 921 02 22</a><br>
										<a href="tel:+74992380023" class="contact-drop-text">+7 (499) 23 800 23</a>
									</div>
								</div>
								<div class="contact-item">
									<div class="contact-item-top">
										<img src="img/am.jpg" alt="" class="contact-item-img">
										<p class="contact-item-text">Армения</p>
										<i class="far fa-angle-down contact-item-arrow"></i>
									</div>
									<div class="contact-drop">
										<p class="contact-drop-text">119049, город Москва,<br>
											1-й Спасоналивковский пер., 16</p>
										<p class="contact-drop-text">Teлефоны:</p>
										<a href="tel:+74999210222" class="contact-drop-text">+7 (499) 921 02 22</a><br>
										<a href="tel:+74992380023" class="contact-drop-text">+7 (499) 23 800 23</a>
									</div>
								</div>
								<div class="contact-item">
									<div class="contact-item-top">
										<img src="img/ge.jpg" alt="" class="contact-item-img">
										<p class="contact-item-text">Грузия</p>
										<i class="far fa-angle-down contact-item-arrow"></i>
									</div>
									<div class="contact-drop">
										<p class="contact-drop-text">119049, город Москва,<br>
											1-й Спасоналивковский пер., 16</p>
										<p class="contact-drop-text">Teлефоны:</p>
										<a href="tel:+74999210222" class="contact-drop-text">+7 (499) 921 02 22</a><br>
										<a href="tel:+74992380023" class="contact-drop-text">+7 (499) 23 800 23</a>
									</div>
								</div>
								<div class="contact-item">
									<div class="contact-item-top">
										<img src="img/lt.jpg" alt="" class="contact-item-img">
										<p class="contact-item-text">Литва</p>
										<i class="far fa-angle-down contact-item-arrow"></i>
									</div>
									<div class="contact-drop">
										<p class="contact-drop-text">119049, город Москва,<br>
											1-й Спасоналивковский пер., 16</p>
										<p class="contact-drop-text">Teлефоны:</p>
										<a href="tel:+74999210222" class="contact-drop-text">+7 (499) 921 02 22</a><br>
										<a href="tel:+74992380023" class="contact-drop-text">+7 (499) 23 800 23</a>
									</div>
								</div>
								<div class="contact-item">
									<div class="contact-item-top">
										<img src="img/lv.jpg" alt="" class="contact-item-img">
										<p class="contact-item-text">Латвия</p>
										<i class="far fa-angle-down contact-item-arrow"></i>
									</div>
									<div class="contact-drop">
										<p class="contact-drop-text">119049, город Москва,<br>
											1-й Спасоналивковский пер., 16</p>
										<p class="contact-drop-text">Teлефоны:</p>
										<a href="tel:+74999210222" class="contact-drop-text">+7 (499) 921 02 22</a><br>
										<a href="tel:+74992380023" class="contact-drop-text">+7 (499) 23 800 23</a>
									</div>
								</div>
								<div class="contact-item">
									<div class="contact-item-top">
										<img src="img/ee.jpg" alt="" class="contact-item-img">
										<p class="contact-item-text">Эстония</p>
										<i class="far fa-angle-down contact-item-arrow"></i>
									</div>
									<div class="contact-drop">
										<p class="contact-drop-text">119049, город Москва,<br>
											1-й Спасоналивковский пер., 16</p>
										<p class="contact-drop-text">Teлефоны:</p>
										<a href="tel:+74999210222" class="contact-drop-text">+7 (499) 921 02 22</a><br>
										<a href="tel:+74992380023" class="contact-drop-text">+7 (499) 23 800 23</a>
									</div>
								</div>
							</div>
						</div>
						<button class="btn open-form-btn contact-form-btn show1160">Отправить нам сообщение</button>
					</div>
				</div>
				<div class="contact-right">
					<div class="contact-form-trigger">
						<div class="contact-block contact-form-fixed">
							<form class="contact-form">
								<h6 class="contact-form-title">Ваш запрос</h6>
								<input type="text" class="contact-form-input" required placeholder="Ваше имя:">
								<input type="phone" class="contact-form-input" required placeholder="Ваш телефон:">
								<input type="email" class="contact-form-input" required placeholder="Ваш e-mail:">
								<textarea class="contact-form-textarea" required placeholder="Сообщение:"></textarea>
								<label class="contact-form-label">
									<input type="checkbox" required class="contact-form-check">
									Даю свое согласие на обработку персональных данных.
								</label>
								<p class="contact-form-description">*Все поля обязательны для заполнения</p>
								<button type="submit" class="contact-form-btn">Отправить</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="mail-popup">
		<div class="mail-popup-container">
			<form class="contact-form">
				<h6 class="contact-form-title">Отправьте нам Сообщение</h6>
				<input type="text" class="contact-form-input" required placeholder="Ваше имя:">
				<input type="phone" class="contact-form-input" required placeholder="Ваш телефон:">
				<input type="email" class="contact-form-input" required placeholder="Ваш e-mail:">
				<textarea class="contact-form-textarea" required placeholder="Сообщение:"></textarea>
				<label class="contact-form-label">
					<input type="checkbox" required class="contact-form-check">
					Даю свое согласие на обработку персональных данных.
				</label>
				<p class="contact-form-description">*Все поля обязательны для заполнения</p>
				<button type="submit" class="contact-form-btn">Отправить</button>
			</form>
		</div>
	</div>
	@import "footer.html"
	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
	<script src="js/common.js"></script>

</body>
</html>
