<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>Alps</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/style.bundle.css">

</head>

<body>

	@import "header.html"
	@import "mobile-header.html"
	@import "menu.html"
	@import "title.html"
	<section class="countries section">
		<div class="my-container my-container_bg">
			<div class="contact-flex">
				<div class="contact-left">
					<div class="contact-block">
						<h4 class="about-title about-title_sm">Страны</h4>
						<p class="countries-text text">Международная консалтинговая Компания АЛПС энд ЧЕЙС имеет большой опыт сопровождения проектов в разных странах СНГ И Балтии. В зависимости от страны, мы предоставляем различные услуги и способствуем продвижению бизнеса Клиента в зависимости от задач, которые перед ним стоят.</p>
						<p class="countries-text text">Страны, в которых компания АЛПС энд ЧЕЙС имеет возможность оказывать консультационные услуги:</p>
						<div class="countries-list">
							<div class="countries-item">
								<img src="img/kz.jpg" alt="" class="contact-item-img">
								<p class="contact-item-text">Казахстан</p>
							</div>
							<div class="countries-item">
								<img src="img/uz.jpg" alt="" class="contact-item-img">
								<p class="contact-item-text">Узбекистан</p>
							</div>
							<div class="countries-item">
								<img src="img/am.jpg" alt="" class="contact-item-img">
								<p class="contact-item-text">Армения</p>
							</div>
							<div class="countries-item">
								<img src="img/rf.jpg" alt="" class="contact-item-img">
								<p class="contact-item-text">Россия</p>
							</div>
							<div class="countries-item">
								<img src="img/kg.jpg" alt="" class="contact-item-img">
								<p class="contact-item-text">Кыргызстан</p>
							</div>
							<div class="countries-item">
								<img src="img/ge.jpg" alt="" class="contact-item-img">
								<p class="contact-item-text">Грузия</p>
							</div>
							<div class="countries-item">
								<img src="img/br.jpg" alt="" class="contact-item-img">
								<p class="contact-item-text">Беларусь</p>
							</div>
							<div class="countries-item">
								<img src="img/tj.jpg" alt="" class="contact-item-img">
								<p class="contact-item-text">Таджикистан</p>
							</div>
							<div class="countries-item">
								<img src="img/lt.jpg" alt="" class="contact-item-img">
								<p class="contact-item-text">Литва</p>
							</div>
							<div class="countries-item">
								<img src="img/ua.jpg" alt="" class="contact-item-img">
								<p class="contact-item-text">Украина</p>
							</div>
							<div class="countries-item">
								<img src="img/tm.jpg" alt="" class="contact-item-img">
								<p class="contact-item-text">Туркменистан</p>
							</div>
							<div class="countries-item">
								<img src="img/lv.jpg" alt="" class="contact-item-img">
								<p class="contact-item-text">Латвия</p>
							</div>
							<div class="countries-item">
								<img src="img/md.jpg" alt="" class="contact-item-img">
								<p class="contact-item-text">Молдова</p>
							</div>
							<div class="countries-item">
								<img src="img/az.jpg" alt="" class="contact-item-img">
								<p class="contact-item-text">Азербайджан</p>
							</div>
							<div class="countries-item">
								<img src="img/ee.jpg" alt="" class="contact-item-img">
								<p class="contact-item-text">Эстония</p>
							</div>
							<div class="countries-item">
								<img src="img/mn.jpg" alt="" class="contact-item-img">
								<p class="contact-item-text">Монголия</p>
							</div>
						</div>
					</div>
					<div class="contact-block contact-block_marg expert">
						<h5 class="subtitle advantages-subtitle">Интервью экспертов</h5>
						<div class="expert-flex">
							<div class="expert-item">
								<img src="img/expert.jpg" alt="">
								<p class="expert-text">Добровольцев Алексеей: Бухгалтерский учет в Греции
									<i class="far fa-play-circle"></i>
								</p>
							</div>
							<div class="expert-item">
								<img src="img/expert.jpg" alt="">
								<p class="expert-text">Интервью с Абрамовой Ириной: Оптимизация налогооблажения
									<i class="far fa-play-circle"></i>
								</p>
							</div>
						</div>
						<a href="" class="expert-link">Все видео-интервью</a>
					</div>
					<button class="btn open-form-btn contact-form-btn show1160">Отправить нам сообщение</button>
				</div>
				<div class="contact-right">
					<div class="contact-block company">
						<div class="company-block">
							<h6 class="contact-form-title">О компании АЛПС энд ЧЕЙС</h6>
							<p class="countries-text text">Опыт работы уже более 15 лет. Начав работать с компанией АЛПС энд ЧЕЙС, вы получите:</p>
							<ul class="company-list">
								<li class="company-item">Опытных специалистов</li>
								<li class="company-item">Современный уровень обслуживания</li>
								<li class="company-item">Гарантию конфиденциальности</li>
								<li class="company-item">Расчеты в удобной для Вас валюте</li>
								<li class="company-item">Отличное знание законодательства и практики</li>
								<li class="company-item">Высокое качество услуг и автоматизации внутренних процессов</li>
							</ul>
							<a href="" download class="about-link about-link_company">Скачать брошюру</a>
						</div>
					</div>
					<div class="contact-block contact-block_marg">
							<form class="contact-form">
								<h6 class="contact-form-title">Отправьте нам Сообщение</h6>
								<input type="text" class="contact-form-input" required placeholder="Ваше имя:">
								<input type="phone" class="contact-form-input" required placeholder="Ваш телефон:">
								<input type="email" class="contact-form-input" required placeholder="Ваш e-mail:">
								<textarea class="contact-form-textarea" required placeholder="Сообщение:"></textarea>
								<label class="contact-form-label">
									<input type="checkbox" required class="contact-form-check">
									Даю свое согласие на обработку персональных данных.
								</label>
								<p class="contact-form-description">*Все поля обязательны для заполнения</p>
								<button type="submit" class="contact-form-btn">Отправить</button>
							</form>
						</div>
				</div>
			</div>
		</div>
	</section>
	<div class="video-popup">
		<div class="video-popup-container">
			<iframe src="https://www.youtube.com/embed/yI0X4e7bxHU" controls="0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>
	<div class="mail-popup">
		<div class="mail-popup-container">
			<form class="contact-form">
				<h6 class="contact-form-title">Отправьте нам Сообщение</h6>
				<input type="text" class="contact-form-input" required placeholder="Ваше имя:">
				<input type="phone" class="contact-form-input" required placeholder="Ваш телефон:">
				<input type="email" class="contact-form-input" required placeholder="Ваш e-mail:">
				<textarea class="contact-form-textarea" required placeholder="Сообщение:"></textarea>
				<label class="contact-form-label">
					<input type="checkbox" required class="contact-form-check">
					Даю свое согласие на обработку персональных данных.
				</label>
				<p class="contact-form-description">*Все поля обязательны для заполнения</p>
				<button type="submit" class="contact-form-btn">Отправить</button>
			</form>
		</div>
	</div>
	@import "footer.html"
	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
	<script src="js/common.js"></script>

</body>
</html>
