<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>Alps</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/style.bundle.css">

</head>

<body>

	@import "header.html"
	@import "mobile-header.html"
	@import "menu.html"
	@import "title.html"
	<section class="publication section">
		<div class="my-container my-container_bg">
			<div class="contact-flex">
				<div class="contact-left">
					<div class="contact-block">
						<div class="contact-relative">
							<div class="eye-block">
								<div class="eye-text">0</div>
								<img src="img/eye.svg" alt="" class="eye-img">
							</div>
							<h4 class="about-title">Публикации</h4>
							<ul class="publication-list">
								<li class="publication-item">
									<a href="" class="publication-item-link active">Все</a>
									<span class="publication-item-number">53</span>
								</li>
								<li class="publication-item">
									<a href="" class="publication-item-link">Лицензированные</a>
									<span class="publication-item-number">5</span>
								</li>
								<li class="publication-item">
									<a href="" class="publication-item-link">Недвижимость</a>
									<span class="publication-item-number">7</span>
								</li>
								<li class="publication-item">
									<a href="" class="publication-item-link">Регистрация</a>
									<span class="publication-item-number">10</span>
								</li>
								<li class="publication-item">
									<a href="" class="publication-item-link">Видео</a>
									<span class="publication-item-number">7</span>
								</li>
							</ul>
							<div class="publication-container">
								<div class="publication-block">
									<a href="" class="publication-link">
										<p class="publication-date">23.08.2018</p>
										<h6 class="publication-title text text_bold">В Беларуси Президентом подписан Декрет, который предоставит широкие возможности для использования технологии блокчейн, майнинга, криптовалют и различные льготы для IT компаний</h6>
										<p class="publication-text text">В Беларуси Президентом подписан Декрет, который предоставит широкие возможности для использования технологии блокчейн и различные льготы для IT компаний (Декрет о ПВТ 2.0)</p>
									</a>
								</div>
								<div class="publication-block">
									<a href="" class="publication-link">
										<p class="publication-date">12.07.2018</p>
										<h6 class="publication-title text text_bold">Необходимость уведомления налоговых органов РФ о созданных КИК (контролируемых иностранных компаниях) в СНГ и Балтии</h6>
										<p class="publication-text text">Согласно пункту 7 статьи 25.13 НК РФ, контролируемая иностранная компания освобождается от налогов на свою прибыль в случае, если компания создана исходя из законодательных норм государства, относящегося к Евразийскому экономическому союзу.</p>
									</a>
								</div>
								<div class="publication-block">
									<a href="" class="publication-link">
										<p class="publication-date">09.07.2018</p>
										<h6 class="publication-title text text_bold">Регистрация представительств/филиалов иностранных компаний в России: практика 2017 года.</h6>
										<p class="publication-text text">Несмотря на высокую государственную пошлину (с 2015 года, размер государственной пошлины по регистрации филиала или представительства составляет 120 000 рублей (для ИФНС № 47) и 15 000 рублей (для ТПП РФ), среди иностранцев создание филиала или представительства считается более безопасным и управляемым инструментом ведения бизнеса в России, чем регистрация ООО.</p>
									</a>
								</div>
								<div class="publication-block">
									<a href="" class="publication-link">
										<p class="publication-date">11.06.2018</p>
										<h6 class="publication-title text text_bold">Статья на портале "Zakon.kz": "Как гражданину Казахстана оформить сделку купли-продажи доли в российском ООО: делимся опытом"</h6>
										<p class="publication-text text">Вслед за возникновением Таможенного Cоюза и Единого экономического пространства, для многих казахстанских бизнесменов естественным развитием их бизнес-стратегии стала регистрация компании в России. Однако создать юридическую оболочку в России – это лишь полдела.</p>
									</a>
								</div>
								<div class="publication-block">
									<a href="" class="publication-link">
										<p class="publication-date">11.06.2018</p>
										<h6 class="publication-title text text_bold">Статья на портале "Zakon.kz": "Как гражданину Казахстана оформить сделку купли-продажи доли в российском ООО: делимся опытом"</h6>
										<p class="publication-text text">Вслед за возникновением Таможенного Cоюза и Единого экономического пространства, для многих казахстанских бизнесменов естественным развитием их бизнес-стратегии стала регистрация компании в России. Однако создать юридическую оболочку в России – это лишь полдела.</p>
									</a>
								</div>
							</div>
							<a href="" class="expert-link publication-more">больше публикаций</a>
						</div>
					</div>
					<button class="btn open-form-btn contact-form-btn show1160">Отправить нам сообщение</button>
				</div>
				<div class="contact-right">
					<div class="contact-block company">
						<div class="company-block">
							<h6 class="contact-form-title">О компании АЛПС энд ЧЕЙС</h6>
							<p class="countries-text text">Опыт работы уже более 15 лет. Начав работать с компанией АЛПС энд ЧЕЙС, вы получите:</p>
							<ul class="company-list">
								<li class="company-item">Опытных специалистов</li>
								<li class="company-item">Современный уровень обслуживания</li>
								<li class="company-item">Гарантию конфиденциальности</li>
								<li class="company-item">Расчеты в удобной для Вас валюте</li>
								<li class="company-item">Отличное знание законодательства и практики</li>
								<li class="company-item">Высокое качество услуг и автоматизации внутренних процессов</li>
							</ul>
							<a href="img/requisites.pdf" download class="about-link about-link_company">Скачать брошюру</a>
						</div>
					</div>
					<div class="contact-form-trigger">
						<div class="contact-block contact-block_marg contact-form-fixed">
							<form class="contact-form">
								<h6 class="contact-form-title">Отправьте нам Сообщение</h6>
								<input type="text" class="contact-form-input" required placeholder="Ваше имя:">
								<input type="phone" class="contact-form-input" required placeholder="Ваш телефон:">
								<input type="email" class="contact-form-input" required placeholder="Ваш e-mail:">
								<textarea class="contact-form-textarea" required placeholder="Сообщение:"></textarea>
								<label class="contact-form-label">
									<input type="checkbox" required class="contact-form-check">
									Даю свое согласие на обработку персональных данных.
								</label>
								<p class="contact-form-description">*Все поля обязательны для заполнения</p>
								<button type="submit" class="contact-form-btn">Отправить</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="mail-popup">
		<div class="mail-popup-container">
			<form class="contact-form">
				<h6 class="contact-form-title">Отправьте нам Сообщение</h6>
				<input type="text" class="contact-form-input" required placeholder="Ваше имя:">
				<input type="phone" class="contact-form-input" required placeholder="Ваш телефон:">
				<input type="email" class="contact-form-input" required placeholder="Ваш e-mail:">
				<textarea class="contact-form-textarea" required placeholder="Сообщение:"></textarea>
				<label class="contact-form-label">
					<input type="checkbox" required class="contact-form-check">
					Даю свое согласие на обработку персональных данных.
				</label>
				<p class="contact-form-description">*Все поля обязательны для заполнения</p>
				<button type="submit" class="contact-form-btn">Отправить</button>
			</form>
		</div>
	</div>
	@import "footer.html"
	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
	<script src="js/common.js"></script>

</body>
</html>
