<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>Evromisto</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=480, maximum-scale=1.0"/>
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>

	@import "header.html"
	@import "header-mob.html"
	@import "menu.html"
    <div id="fullpage2">
        <section class="section structure up">
            <div class="structure-overlay wow widthGo"></div>
            <div class="main-first-content">
                <div class="structure-main">
                    <h2 class="structure-title wow2 fadeInUp" data-wow-delay="0.3s">Savoya-Security</h2>
                    <p class="structure-description wow2 fadeInUp" data-wow-delay="0.5s">Охранная служба</p>
                    <p class="structure-text">
                        <span class="structure-text-span wow2 fadeInUp" data-wow-delay="0.6s">Безопасность – одна из главных составляющих комфортной жизни</span>
                        <span class="structure-text-span wow2 fadeInUp" data-wow-delay="0.7s">человека. А способность ежедневно вселять это чувство жителям</span>
                        <span class="structure-text-span wow2 fadeInUp" data-wow-delay="0.8s">Евроміста – мастерство, которое с годами становится</span>
                        <span class="structure-text-span wow2 fadeInUp" data-wow-delay="0.9s">неотъемлемой частью жизни. Охранная служба SAVOYA Security</span>
                        <span class="structure-text-span wow2 fadeInUp" data-wow-delay="1s">знает, как сделать жизнь беззаботной на территории городка,</span>
                        <span class="structure-text-span wow2 fadeInUp" data-wow-delay="1.1s">который пополняется новыми еврожителями и их уверенностью в</span>
                        <span class="structure-text-span wow2 fadeInUp" data-wow-delay="1.2s">собственной защищенности от внешних недоброжелателей.</span>
                    </p>
                    <a href="" class="structure-btn btn btn_active wow2 fadeInUp" data-wow-delay="1.2s">перейти на сайт</a>
                </div>
            </div>
            <div class="structure-build">
                <img src="img/security.png" alt="" class="structure-build-img wow2 goTop" data-wow-delay="0.5s">
            </div>
        </section>
        <section class="section section_white info">
            <div class="info-content">
                <div class="info-content-flex">
                    <div class="info-left">
                        <h3 class="info-title">
                            <span class="info-title-span wow2 fadeInUp" data-wow-delay="0.3s">Служба охватывает</span>
                            <span class="info-title-span wow2 fadeInUp" data-wow-delay="0.4s">широкий спектр</span>
                            <span class="info-title-span wow2 fadeInUp" data-wow-delay="0.5s">охранных работ,</span>
                            <span class="info-title-span wow2 fadeInUp" data-wow-delay="0.6s">которые включают:</span>
                        </h3>
                        <p class="info-text wow2 goTop2" data-wow-delay="0.7s" data-wow-duration="1s">SAVOYA Security – это служба комплексной охранной системы жилого комплекса Европейське місто, которая работает, основываясь на приказе МВД Украины от 02.09.2015 года про осуществление охранной деятельности.</p>
                        <p class="info-text wow2 goTop2" data-wow-delay="0.9s" data-wow-duration="1s">SAVOYA Security дает чувство уверенности в том, что Европейське місто – ваша крепость. Живите в удовольствие без опасений и страха!</p>
                    </div>
                    <div class="info-right">
                        <ul class="info-list">
                            <li class="info-item info-item_sm wow2 goTop2" data-wow-delay="0.5s" data-wow-duration="1s">Охрану строительных площадок</li>
                            <li class="info-item info-item_sm wow2 goTop2" data-wow-delay="0.6s" data-wow-duration="1s">Круглосуточное патрулирование территории жилого комплекса</li>
                            <li class="info-item info-item_sm wow2 goTop2" data-wow-delay="0.7s" data-wow-duration="1s">Видеонаблюдение</li>
                            <li class="info-item info-item_sm wow2 goTop2" data-wow-delay="0.8s" data-wow-duration="1s">Полное техническое обеспечение всех охранных постов для контроля и регулирования пропускного режима</li>
                            <li class="info-item info-item_sm wow2 goTop2" data-wow-delay="0.9s" data-wow-duration="1s">Идентификация въезда и выезда автотранспортных средств</li>
                            <li class="info-item info-item_sm wow2 goTop2" data-wow-delay="1s" data-wow-duration="1s">Предотвращение краж и повреждений прилегающего к домам имущества</li>
                            <li class="info-item info-item_sm wow2 goTop2" data-wow-delay="1.1s" data-wow-duration="1s">Предотвращение и прекращение нарушений общественного порядка, согласно действующего Законодательства Украины и правил проживания в жилых комплексах.</li>
                        </ul>
                    </div>
                </div>
                <div class="consist-slider">
                    <div class="consist-slider-item">
                        <img src="img/security-slider.jpg" alt="" class="consist-slider-img">
                    </div>
                    <div class="consist-slider-item">
                        <img src="img/security-slider.jpg" alt="" class="consist-slider-img">
                    </div>
                    <div class="consist-slider-item">
                        <img src="img/security-slider.jpg" alt="" class="consist-slider-img">
                    </div>
                    <div class="consist-slider-item">
                        <img src="img/security-slider.jpg" alt="" class="consist-slider-img">
                    </div>
                    <div class="consist-slider-item">
                        <img src="img/security-slider.jpg" alt="" class="consist-slider-img">
                    </div>
                </div>
                <div class="consist-row">
                    <div class="main-fourth-btns">
                        <div class="main-fourth-btn consist-btn_back">
                            <svg class="main-fourth-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 11 16" style="enable-background:new 0 0 11 16;" xml:space="preserve">
                                        <style type="text/css">
                                            .st0{clip-path:url(#SVGID_2_);}
                                        </style>
                                <g>
                                            <defs>
                                                <polygon id="SVGID_1_" points="8,0 10.5,2.5 5,8 10.5,13.5 8,16 0,8   "></polygon>
                                            </defs>
                                    <clipPath id="SVGID_2_">
                                                <use xlink:href="#SVGID_1_" style="overflow:visible;"></use>
                                            </clipPath>
                                    <rect x="-5" y="-5" class="st0" width="20.5" height="26"></rect>
                                        </g>
                                    </svg>
                        </div>
                        <div class="main-fourth-btn consist-btn_next">
                            <svg class="main-fourth-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 11 16" style="enable-background:new 0 0 11 16;" xml:space="preserve">
                                        <style type="text/css">
                                            .st02{clip-path:url(#SVGID_22_);}
                                        </style>
                                <g>
                                            <defs>
                                                <polygon id="SVGID_12_" points="2.5,0 0,2.5 5.5,8 0,13.5 2.5,16 10.5,8   "></polygon>
                                            </defs>
                                    <clipPath id="SVGID_22_">
                                                <use xlink:href="#SVGID_12_" style="overflow:visible;"></use>
                                            </clipPath>
                                    <rect x="-5" y="-5" class="st02" width="20.5" height="26"></rect>
                                        </g>
                                    </svg>
                        </div>
                    </div>
                    <div class="main-fourth-relative">
                        <div class="main-fourth-progress">
                            <div class="progress progress_main"></div>
                        </div>
                    </div>
                    <div class="consist-numbers">
                        <div class="consist-numbers-slider">
                            <div class="consist-numbers-item">01</div>
                            <div class="consist-numbers-item">02</div>
                            <div class="consist-numbers-item">03</div>
                            <div class="consist-numbers-item">04</div>
                            <div class="consist-numbers-item">05</div>
                        </div>
                        <p class="consist-numbers-all"> / 15</p>
                    </div>
                </div>
            </div>

            <div class="footer-logo">
                <div class="footer-logo-text">Разработка и поддержка</div>
                <a href="">
                    <img src="img/future.svg" alt="" class="footer-logo-img">
                </a>
            </div>
        </section>
    </div>
    @import "footer.html"
    <div class="popup">
        <div class="popup-container">
            <form action="" class="popup-form">
                <h2 class="popup-title">Заказать звонок</h2>
                <p class="popup-text">Введите ваш номер телефона и мы свяжемся за<br> 30 секунд!</p>

                <div class="popup-form-row">
                    <!--<select id="options" class="popup-select">-->
                        <!--<option value="+38" class="front-form-option" data-imagesrc="img/ua.svg"></option>-->
                        <!--&lt;!&ndash;<option value="+7" class="front-form-option" data-imagesrc="img/ru.svg"></option>&ndash;&gt;-->
                    <!--</select>-->
                    <div class="popup-select">
                        <a class="dd-selected"><img class="dd-selected-image" src="img/ua.svg"></a>
                    </div>
                    <input type="tel" class="popup-input" placeholder="067 890 90 99" required>
                </div>
                <button type="submit" class="popup-btn btn btn_active">жду звонка !</button>
            </form>
        </div>
        <div class="popup-close">
            <img src="img/close.svg" alt="" class="popup-close-img">
        </div>
    </div>



	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>
</body>
</html>
