@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1920px)
  .title
    font-size: 6.3vmin
  .main-third-info
    margin-top: 4.24vh
  .main-third-number
    font-size: 12vh
    line-height: 9.26vh
  .subtitle
    font-size: 3.7vmin
@media only screen and (max-width : 1600px)
  .equipment-right
    margin-right: -100px
    margin-left: 30px
  .house-block
    max-width: calc(1000px + 23vw)
  .house-main-center
    max-width: 980px
@media only screen and (max-width : 1439px)
  .menu-item-link
    padding-left: 20px
  .header
    padding: 20px 0
  .menu
    padding-top: 30px
  .menu-logo
    margin-bottom: 30px
  .menu-text
    left: 20px
    bottom: 20px
  .menu-icon-block
    bottom: 20px
  .main-first-content
    padding-top: 140px
    padding-right: 20px
  .main-first-flex
    justify-content: space-between
  .main-first .main-first-left
    flex-shrink: 1
  .main-label
    left: -235px
  .main-third-list
    width: 100%
  .menu-content
    height: calc(100% - 115px)
  .main-fourth-list
    margin-top: 10px
    width: 100%
  .main-fourth-item
    font-size: 11px
  .header-right-btn
    margin-left: 30px
  .header-row
    margin-right: 20px
  .main-fourth-description
    font-size: 16px
  .main-fourth-text
    font-size: 12px
  .main-fourth-item
    padding: 4px 0
  .menu-item-link:hover:before
    width: 20px
  .list-content-item
    width: calc(33.33% - 20px)
    margin-right: 30px
  .list-content
    margin-left: -40px
  .list-left
    padding-right: 30px
  .list-content-item:nth-child(4n+4)
    margin-right: 30px
  .list-content-item:nth-child(3n+3)
    margin-right: 0
  .list-row-title
    font-size: 10px
  .list-row-text
    font-size: 20px
  .filter-clean
    left: -30px
  .equipment-right
    width: 450px
    margin-top: 100px
  .equipment-pointer
    width: 30px
    height: 30px
  .equipment-pointer_first
    right: 79px
    bottom: 19px
  .equipment-pointer_second
    right: 115px
    bottom: 115px
  .equipment-pointer_third
    left: 136px
    top: 205px
  .equipment-pointer_fourth
    left: 47px
    bottom: 95px
  .equipment-pointer_fifth
    right: 52px
    top: 205px
  .equipment-pointer_sixth
    top: 109px
    left: 63px
  .equipment-pointer_seventh
    top: 145px
    left: 133px
  .equipment-pointer_eight
    top: 48px
    right: 147px
  .equipment-pointer_ninth
    bottom: 94px
    right: 29px
  .equipment-pointer_ten
    top: 56px
    left: 120px
  .house-main-center
    max-width: 700px
    margin-right: 0
  .house-block
    padding-right: 20px
  .house-main-compass
    bottom: 10px
  .house-main-center
    margin-top: -100px
  .apartment-right
    width: 400px
@media only screen and (max-width : 1200px)
  .menu-item-link
    font-size: 11px
  .menu-item
    padding-bottom: 15px
  .main-fourth-row
    padding-right: 50px
  .btn
    font-size: 12px
  .header-right-btn
    margin-left: 10px
  .lang-line
    width: 20px
  .main-first-right
    margin-left: 2.5vw
  .title
    font-size: 5.3vmin
  .main-fourth-right
    margin-left: -30px
  .cart-bottom-number
    font-size: 24px
    margin-top: 10px
  .cart-bottom
    margin-top: 5px
    padding-top: 10px
  .cart
    padding: 10px
  .cart-bottom-right
    padding-left: 15px
  .cart-bottom-text
    font-size: 10px
  .equipment-flex
    flex-direction: column
    align-items: center
  .equipment-left
    width: 100%
  .equipment-right
    margin: 40px 0 0
  .house-main-center
    max-width: 660px
  .apartment-right
    width: 290px
@media only screen and (max-width : 1024px)
  #fullpage section
    position: relative
    transform: none
  .main-second-svg
    bottom: 0
  .main-second-relative
    width: 1024px
    position: relative
  .main-fourth-row
    padding-right: 0
  .header
    display: none
  .header_mob
    display: block
    position: absolute
  .menu
    display: none
  .main-first .main-first-content
    padding: 115px 40px 40px
    min-height: 100vh
  .main-first-content
    min-height: auto
  .main-first-content
    padding: 40px
  .build-first, .build-second
    background-position: bottom -5px left 20%
    background-size: 200%
  .main-label
    display: none
  .header-row
    padding: 0 40px
    margin: 0
  .menu-logo
    margin: 10px 20px 0 0
  .main-second-build
    position: relative
    width: calc(100% + 80px)
    margin-left: -40px
    overflow-x: auto
    overflow-y: hidden
    bottom: -80px
  .main-third-list
    margin-top: 30px
  .main-fourth .main-first-left
    width: 350px
  .main-fourth-right
    margin: 0 -40px 0 0
  .main-second-span
    display: inline
    white-space: pre-wrap
  .main-fifth-bottom
    margin-top: 40px
  .main-first-content_fifth
    padding-bottom: 0
  .main-fifth-relative
    padding-bottom: 40px
  .main-first-left
    width: 460px
  .header-content
    display: flex
    align-items: center
    justify-content: space-between
  .main-first-flex
    width: 100%
  .custom .color1
    fill: #D36B0E
  .custom .color2
    fill: #446183
  .custom .color3
    fill: #B8C935
  .custom .burger-span
    background-color: #8c8c8c
  .header-left-line
    margin: 0 15px
    //color: rgba(43, 56, 71, 0.51)
  .menu-item-link
    color: #636a73
  .menu-item-link
    padding-left: 0
    font-size: 13px
  .menu-item-link:before
    left: -65px
  .menu-item
    padding-bottom: 2.7vh
  .menu-nav
    margin-top: 4.8vh
  .lang-line
    width: 60px
  .header-menu-top .menu-logo
    margin: 0 0 0 -5px
  .header-menu-bottom
    margin-top: 20px
  .list
    padding: 150px 40px 50px
  .list-content
    margin-left: 0
    margin-top: 25px
  .list-line-content
    display: none
  .equipment
    padding: 45px 40px 45px
  .list-right
    position: fixed
    opacity: 0
    background: #ffffff
    top: 0
    left: 0
    width: 100%
    height: 100vh
    z-index: 6
    overflow: scroll
    pointer-events: none
    transition: opacity .5s ease
  .list-right.active
    opacity: 1
    pointer-events: auto
  .list-left
    border-right: 0
    padding-right: 0
  .footer
    display: block
    background: #fafbfc
    padding: 0px 40px 20px
  .footer-logo_mob
    position: static
  .main-fifth-map:before
    width: 100%
    height: 40%
    background: linear-gradient(to top, #fafbfc 0%, rgba(250, 251, 252, 0) 100%)
  .main-fifth-map
    width: calc(100% + 80px)
    margin-left: -40px
  .menu-bottom.absolute
    display: none
  section .footer-logo
    display: none
  .list-left
    position: relative
  .left-list-btn
    display: block
  .filter-flex
    display: flex
    flex-wrap: wrap
  .filter-row
    width: 50%
    margin: 5px 0
  .filter
    padding: 85px 60px 40px
  .filter-btn
    max-width: 220px
  .filter-close
    display: block
  .filter-clean
    right: 80px
    transform: none
    top: 35px
    left: inherit
  .list-img
    max-width: 270px
    margin: 0 auto
  .list-row
    max-width: 280px
    margin: 0 auto
  .list-row-title
    font-size: 12px
  .list-row-text
    font-size: 24px
  .list-row-item
    padding: 0 20px
  .list-bottom
    margin-top: 30px
  .house-block
    padding: 155px 40px 20px
    min-height: calc(100vh - 90px)
  .main-third-number
    font-size: 11vmin
    line-height: 9.26vmin
  .apartment
    padding: 155px 40px 40px
    min-height: calc(100vh - 92px)
@media only screen and (max-width : 767px)
  .header-left-text
    display: none
  .header-left-phone
    display: none
  .title
    font-size: 48px
  .main-first-flex
    flex-direction: column
  .main-first-right
    margin: 20px 0 0
  .main-first-left
    width: 100%
  .btn
    font-size: 13px
  .build-first, .build-second
    background-position: bottom -5px left 47%
    background-size: 130vh
  .subtitle
    font-size: 40px
  .main-second-text
    margin-top: 15px
  .main-second-btn
    margin-top: 15px
  .main-third-list
    flex-direction: column
  .main-third-number
    font-size: 130px
    line-height: 100px
  .main-third-info
    margin-top: 50px
    position: relative
    &:before
      content: ''
      position: absolute
      width: 140px
      height: 1px
      background: rgba(255, 255, 255, 0.1)
      left: 0
      top: -25px
  .main-third-item
    margin: 0 0 55px 0
    &:last-child
      margin: 0 0 15px 0
  .main-third-list
    margin-top: 50px
  .main-fourth .main-first-left
    width: 100%
  .main-fourth-description
    font-size: 20px
    margin-top: 20px
  .main-fourth-text
    font-size: 14px
  .main-fourth-item
    font-size: 13px
    padding: 6px 0
  .main-fourth-list
    margin-top: 30px
  .main-fourth .main-first-left
    position: static
  .main-fourth-right
    width: calc(100% + 80px)
    margin: 35px 0 80px -40px
  .main-fourth-row
    position: absolute
    bottom: 0
    left: 0
  .main-fifth .subtitle
    font-size: 32px
  .main-fifth-row
    margin: 25px 0
  .main-fifth-bottom
    width: 100%
    display: flex
    align-items: flex-start
    justify-content: space-between
    flex-wrap: wrap
  .main-fifth-block
    width: 50%
    &:nth-child(2)
      order: 1
  .main-fifth-text
    display: block
  .main-fifth-bottom
    margin-top: 470px
  .list-content-item
    width: 100%
    max-width: 400px
    margin: 10px auto
  .list-content-item:nth-child(3n+3)
    margin-right: auto
  .list-content-item:nth-child(4n+4)
    margin: 10px auto
  .list-bottom-block
    opacity: 0
    pointer-events: none
    position: absolute
  .list-bottom
    width: 100%
    padding: 0
  .list-btns
    position: absolute
    top: 0
    left: 0
    width: 100%
    margin-right: 0
    z-index: 1
  .list-bottom
    position: relative
    height: 50px
    justify-content: center
  .list-page-item:first-child
    margin-left: 0
  .list-page
    position: relative
    z-index: 2
  .equipment-list
    margin-top: 30px
  .equipment-right
    width: 410px
    margin-top: 20px
  .equipment-pointer_first
    right: 68px
    bottom: 14px
  .equipment-pointer_second
    right: 103px
    bottom: 102px
  .equipment-pointer_third
    left: 124px
    top: 186px
  .equipment-pointer_fourth
    left: 41px
    bottom: 85px
  .equipment-pointer_fifth
    right: 46px
    top: 186px
  .equipment-pointer_sixth
    top: 96px
    left: 56px
  .equipment-pointer_seventh
    top: 131px
    left: 121px
  .equipment-pointer_eight
    top: 43px
    right: 135px
  .equipment-pointer_ninth
    bottom: 86px
    right: 27px
  .equipment-pointer_ten
    top: 47px
    left: 107px
  .house-main-center
    width: 100%
  .house-top-right
    display: none
  .house-main-right
    display: none
  .house-main
    flex-direction: column-reverse
  .house-floor_gorizontal
    display: block
  .house-floor_vertical
    display: none
  .house-top-right_mob
    display: block
  .house-top-right_mob
    margin: 0 auto
  .house-main-left
    width: calc(100% + 50px)
    margin-left: -25px
    flex-direction: row
    justify-content: space-between
    margin-top: 30px
    align-items: center
  .house-floor_gorizontal
    height: 50px
  .house-floor-item.slick-slide
    border: none
    padding: 0 10px
  .house-floor-item.slick-slide.slick-current
    border-right: 1px solid #d5dae2
  .house-floor_gorizontal
    width: 130px
  .house-floor .slick-list
    height: auto!important
  .house-btn_bottom
    transform: rotate(-180deg)
  .house-btn_top
    transform: rotate(0)
  .house-main-compass
    bottom: 162px
    left: 0
  .apartment-flex
    flex-direction: column
  .apartment-block
    margin-left: -60px
    margin-top: 95px
  .apartment-right
    width: 100%
    align-items: flex-start
  .apartment-plan
    left: 60px
    bottom: -35px
  .apartment-right
    margin-top: 80px
  .apartment-list
    margin: 30px 0 25px
  .apartment-right-text
    text-align: left
    margin-top: 25px
//@media only screen and (max-width : 479px)
//  .main-first-content
//    padding: 20px
//  .main-first .main-first-content
//    padding: 115px 20px 20px
//  .header-row
//    padding: 0 20px
//  .title
//    font-size: 36px
//  .main-first-right
//    width: 100%
//  .main-third-number
//    font-size: 100px
//    line-height: 80px
//  .subtitle
//    font-size: 28px
//  .main-third-item:last-child
//    width: 280px
//  .main-fourth-right
//    width: calc(100% + 40px)
//    margin: 35px 0 80px -20px
//  .main-fifth .subtitle
//    font-size: 26px
//  .main-second-build, .main-fifth-map
//    width: calc(100% + 40px)
//    margin-left: -20px
//  .footer-logo
//    flex-direction: column
//    align-items: flex-start
//  .footer
//    padding: 0 20px 20px
//  .footer-logo-img
//    margin: 10px 0 0 0
//  .main-fifth-text
//    font-size: 15px